/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************* LAYOUT ********************/

header, footer {
    height: 100px;
    border: 2px solid black;
    clear: both;
}

section {
    height: 180px;
    width: 33.3333%;
    border: 2px solid black;
    float: left;
}

.bigBottom {
    height: 300px;
    width: 50%;
}