/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************* LAYOUT ********************/
header, footer {
    height: 90px;
    border: 2px solid black;
    clear: both;
}

section {
    height: 200px;
    border: 2px solid black;
}

.sectionLeft {
    height: 300px;
    width: 30%;
    border: 2px solid black;
    float: left;

}

.sectionRight {
    height: 300px;
    width: 70%;
    border: 2px solid black;
    float: left;
}